html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body > div {
    height: 100%;
}
.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
}